<h1 mat-dialog-title>勤務先の編集</h1>
<div mat-dialog-content>
  <p>名前を入力してください</p>
  <mat-form-field>
    <input matInput matInput placeholder="勤務先名" 
      [formControl]="nameFormControl"
      [errorStateMatcher]="matcher" 
      [(ngModel)]="data.name">
    <mat-hint>バイト／勤務先名を入力してください</mat-hint>
    <mat-error *ngIf="nameFormControl.hasError('required')">
        勤務先名は <strong>必須です</strong>
    </mat-error>
  </mat-form-field>  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>OK</button>
  <button mat-button (click)="deleteMapPoint(data)">削除</button>
</div>
